@{
    ViewBag.Title = "Batch Computation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
 $(function () {
  $('#scheduleDate').datetimepicker({
   format: 'DD-MMMM-YYYY LT'
  });
  $('#manualDate').datetimepicker({
   format: 'DD-MMMM-YYYY LT'
  });
  $('#generateDate').datetimepicker({
   format: 'DD-MMMM-YYYY LT'
  });
 });
</script>
<h2>Batch Computation</h2>




