<link href="~/Scripts/bootstrap/datepicker/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap/datepicker/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap/emodal/eModal.js"></script>

<script type="text/javascript">

 $(document).ready(function () {
var approver = JSON.parse('@Html.Raw(Json.Encode(ViewBag.MakerList))');

        $(function () {
            $("#txtStartDate").datepicker({ format: 'M dd, yyyy', autoclose: true }).css("background-color", "aliceblue").css("cursor", "pointer");
            $("#txtEndDate").datepicker({ format: 'M dd, yyyy', autoclose: true }).css("background-color", "aliceblue").css("cursor", "pointer");
        });


        $("#txtModule").val();

        $("#btnFilter").on('click', function () {
         var strUrl = "@Url.Content("~/Reports/Reportviewer.aspx")?ReportName=CMSEnrollment&CreatedBy=" + $("#selMakerTagging").val()
                      + "&StartDate=" + $("#txtStartDate").val()
                      + "&EndDate=" + $("#txtEndDate").val();
         window.open(strUrl, "_blank");
        });


  $.ajax({
   cache: false,
   type: 'GET',
   url: '@Url.Action("GetMaker", "Report")',
   success: function (data) {
    $.each(data, function () {
     $("#selMakerTagging").append($('<option />').val(this.UserID).text(this.FullName));
    });
   },
   error: function (response) {
   }
  });

 });
</script>


<div class="form-group" id="AffectedTable">
 @*<div class="input-group">
  <span class="input-group-addon">Affected Value</span>
  @*<div class="col-md-7">*@
  @*<input type="text" class="form-control" value='@ViewBag.Title' readonly />
  @*</div>*@
 @*</div>*@

 <div class="form-group" id="Branchgroup">
  <div class="input-group">
   <span class="input-group-addon">Maker</span>
   <select class="form-control" id="selMakerTagging" name="maker" onchange="branchOnChange();">
    <option disabled selected value> ------- select a maker ------- </option>
   </select>
  </div>
 </div>

<div class="form-group">
 <div class="input-group">
  <span class="input-group-addon">Start Date</span>
  <input type="text" class="form-control datepicker-months" id="txtStartDate" placeholder="Select a Start Date" />
 </div>
</div>

<div class="form-group">
 <div class="input-group">
  <span class="input-group-addon">End Date</span>
  <input type="text" class="form-control datepicker-months" id="txtEndDate" placeholder="Select an End Date" />
 </div>
</div>


<style>
 .filter .input-group-addon {
  min-width: 100px;
  text-align: left;
 }

 .filter .row {
  margin-bottom: 10px;
 }

 .datepicker {
  z-index: 999999 !important;
 }
</style>
