

<link href="~/Scripts/bootstrap/datepicker/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap/datepicker/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap/emodal/eModal.js"></script>

<script type="text/javascript">

    $(document).ready(function () {


        var branches = JSON.parse('@Html.Raw(Json.Encode(ViewBag.BranchName))');
        $(function () {
            $("#txtStartDate").datepicker({ format: 'MM yyyy', autoclose: true }).css("background-color", "aliceblue").css("cursor", "pointer");
            $("#txtEndDate").datepicker({ format: 'MM yyyy', autoclose: true }).css("background-color", "aliceblue").css("cursor", "pointer");
        });

        $("#txtModule").val();

        $("#btnFilter").on('click', function () {
            var strUrl = "@Url.Content("~/Reports/Reportviewer.aspx")?ReportName=NoLinkedAccounts&Branch=" +  $("#BranchTagging").val()
                      + "&StartDate=" + $("#txtStartDate").val()
                      + "&EndDate=" + $("#txtEndDate").val() + "";
            window.open(strUrl, "_blank");
        });

        $.ajax({
            cache: false,
            type: 'GET',
            url: '@Url.Action("LoadBranchName","Enrollment")',
            success: function (data) {
                $.each(data, function () {
                    $("#BranchTagging").append($('<option />').val(this.BranchCode).text(this.BranchName));
                });
            },
            error: function (response) {
            }
        });
    });
</script>

<div class="form-group" id="Branchgroup">
    <div class="input-group">
        <span class="input-group-addon">Branch</span>
        <select class="form-control" id="BranchTagging" name="branch"  onchange="branchOnChange();">
            <option disabled selected value> -- select a value -- </option>
        </select>
    </div>
</div>

<style>
    .filter .input-group-addon {
        min-width: 100px;
        text-align: left;
    }

    .filter .row {
        margin-bottom: 10px;
    }

    .datepicker {
        z-index: 999999 !important;
    }
</style>