/*.navbar-default{
 background-color: teal;
}

.navbar-default .navbar-nav>li>a{
 color: white;
}

.panel-primary>.panel-heading {
 background-color: teal;
 border-color: teal;
}
.panel-primary{
 border-color: teal;
}*/