@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
 <script type="text/javascript">
  $(document).ready(function () {
   var model = [];
   var hasRecord = false;

   $().DMSFormValidator('#frmAddBranches')
   .on('success.form.fv', function (e) {
    e.preventDefault();

    eModal.confirm("Save new Product Type?", "Confirmation").then(function () {
     //toastr.success("New Access Group has been saved.");
     model = {
      ProductCode: $('#txtProductCode').val(),
      ProductDescription: $('#txtProductDesc').val(),
      ProductCurrency: $('#txtCurrency').val(),
      ProductCost: $('#txtCost').val(),
      Type: $('#txtType').val(),
      ProductType: $('#txtProductType').val(),
      ProductGroup: $('#txtProductGroup').val()
      //IsActive: $('#chkIsActive').prop('checked')
     }

     $.ajax({
      url: '@Url.Action("ProductInsert", "ParameterMaintenance")',
      data: JSON.stringify(model),
      type: 'POST',
      contentType: 'application/json',
      traditional: true,
      success: function (data) {
       if (data.ResponseStatus != 1) {
        toastr.error(data.Description, "Information");
       }
       else {
        toastr.success(data.Description, "Information")
       }
      },
      error: function (response) { }
     });
     window.location = '@Url.Action("ProductType", "ParameterMaintenance")';
    }, null);
   });
  });
 </script>
}

<h2 class="page-header">
 New Product Type
 <small></small>
</h2>

<div class="col-md-5 col-md-offset-4">
 <form id="frmAddBranches">
  <div class="panel panel-primary">
   <div class="panel-heading">Add New Product Type</div>
   <div class="panel-body">
    @Html.AntiForgeryToken()
    <div class="row">
     <div class="col-md-12">

      <div class="form-group">
       <label>Product Type Code: </label>
        <input type="text" class="form-control" id="txtProductCode" name="txtProductCode" autocomplete="off" maxlength="3" />
      </div>

      <div class="form-group">
       <label>Product Type Description: </label>
       <input type="text" class="form-control" id="txtProductDesc" name="txtProductDesc" autocomplete="off"/>
      </div>

      <div class="form-group">
       <label>Product Type Currency: </label>
       <input type="text" class="form-control TextRequiredField" id="txtCurrency" name="txtCurrency" autocomplete="off" maxlength="3" />
      </div>

      <div class="form-group">
       <label>Product Type Cost: </label>
       <input type="text" class="form-control TextRequiredField" id="txtCost" name="txtCost" autocomplete="off" />
      </div>

      <div class="form-group">
       <label>Type: </label>
       <input type="text" class="form-control TextRequiredField" id="txtType" name="txtType" autocomplete="off"  />
      </div>

      <div class="form-group">
       <label>Product Type: </label>
       <input type="text" class="form-control TextRequiredField" id="txtProductType" name="txtProductType" autocomplete="off"/>
      </div>

      <div class="form-group">
       <label>Product Group: </label>
       <input type="text" class="form-control TextRequiredField" id="txtProductGroup" name="txtProductGroup" autocomplete="off"  />
      </div>


      @*<div class="form-group">
       <label class="checkbox-inline">
        <input type="checkbox" id="chkIsActive" name="chkIsActive" checked /> Is Active?
       </label>
      </div>*@

     </div>
    </div>
   </div>
   <div class="panel-footer">
    <div class="row">
     <div class="col-md-12 text-right">
      <button type="submit" id="btnSave" name="btnSave" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
      <button type="button" onclick="javascript: window.location='@Url.Action("ProductType", "ParameterMaintenance")'" id="btnSave" name="btnSave" class="btn btn-danger"><i class="glyphicon glyphicon-floppy-remove"></i> Cancel</button>
     </div>
    </div>
   </div>

  </div>
 </form>
</div>
